<head>
  <title>Sharing Code!</title>
  <link rel="stylesheet" type="text/css" href="./main.css">
</head>

<body>
  <div>
    {{> sharejsText docid="x" id="editor"}}
  </div>
  <div>
    {{> compileAndRun }}
  </div>
</body>

<template name="compileAndRun">
  <input type="button" value="Compile and Run" />
  <div id="compileAndRunResult"><pre>{{compileAndRunResults}}</pre></div>
</template>

